In [1]:
import pickle

In [2]:
# Load the saved model
with open("./overall_model.pkl", "rb") as model_file:
    loaded_model_data = pickle.load(model_file)

loaded_model = loaded_model_data["best_model"]
actual_df = loaded_model_data["actual_df"]
periods = loaded_model_data["periods"]
freq = loaded_model_data["freq"]

C:\Users\DevangBaroliya-DevRe\anaconda3\envs\devr-poc\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
# Make future predictions
future = loaded_model.make_future_dataframe(periods=periods, freq=freq)
forecast = loaded_model.predict(future)

In [4]:
forecast[["ds", "yhat", "yhat_lower", "yhat_upper"]]

            ds          yhat    yhat_lower    yhat_upper
0   2013-01-07  1.277542e+06  2.451022e+05  2.334052e+06
1   2013-01-14  1.709642e+06  6.427261e+05  2.804392e+06
2   2013-01-21  2.063568e+06  9.472011e+05  3.176048e+06
3   2013-01-28  2.267922e+06  1.188136e+06  3.314677e+06
4   2013-02-04  2.313252e+06  1.229857e+06  3.331823e+06
..         ...           ...           ...           ...
682 2026-02-02  7.158386e+06 -1.409829e+04  1.423249e+07
683 2026-02-09  6.549807e+06 -2.285310e+05  1.311500e+07
684 2026-02-16  5.754775e+06 -6.173043e+05  1.195258e+07
685 2026-02-23  4.880529e+06 -6.820525e+05  1.057939e+07
686 2026-03-02  3.990470e+06 -5.600386e+05  8.680716e+06

[687 rows x 4 columns]

In [5]:
actual_df

            ds           y
0   2013-01-07    119500.0
1   2013-01-14   1910815.0
2   2013-01-21   2006342.0
3   2013-01-28   2258836.0
4   2013-02-04   2135350.0
..         ...         ...
630 2025-02-03  10033883.0
631 2025-02-10   5285410.0
632 2025-02-17   4710188.0
633 2025-02-24   3877084.0
634 2025-03-03   3262947.0

[635 rows x 2 columns]

In [8]:
predicted_df = forecast[["ds", "yhat"]].tail(periods)
predicted_df["yhat"] = predicted_df["yhat"].astype(int)
predicted_df

            ds     yhat
635 2025-03-10  3590128
636 2025-03-17  2828642
637 2025-03-24  2308763
638 2025-03-31  1981628
639 2025-04-07  1738020
640 2025-04-14  1481781
641 2025-04-21  1179735
642 2025-04-28   860690
643 2025-05-05   580584
644 2025-05-12   383453
645 2025-05-19   276715
646 2025-05-26   229422
647 2025-06-02   195303
648 2025-06-09   147073
649 2025-06-16    93496
650 2025-06-23    61216
651 2025-06-30    59158
652 2025-07-07    65420
653 2025-07-14    52703
654 2025-07-21    21709
655 2025-07-28      139
656 2025-08-04     6903
657 2025-08-11    26568
658 2025-08-18    28310
659 2025-08-25     6671
660 2025-09-01    -9365
661 2025-09-08     6322
662 2025-09-15    40506
663 2025-09-22    55479
664 2025-09-29    40565
665 2025-10-06    33145
666 2025-10-13    75288
667 2025-10-20   156200
668 2025-10-27   218405
669 2025-11-03   232114
670 2025-11-10   251463
671 2025-11-17   375762
672 2025-11-24   650261
673 2025-12-01  1024433
674 2025-12-08  1430807
675 2025-12-15  1904009
676 2025-12-22  2593278
677 2025-12-29  3622476
678 2026-01-05  4920194
679 2026-01-12  6193366
680 2026-01-19  7087482
681 2026-01-26  7398354
682 2026-02-02  7158386
683 2026-02-09  6549807
684 2026-02-16  5754774
685 2026-02-23  4880528
686 2026-03-02  3990469